{
  "branches": ["main", "next", {"name": "beta", "prerelease": true}],
  "plugins": [
      "@semantic-release/commit-analyzer",
      "@semantic-release/release-notes-generator",
      ["@semantic-release/exec", {
        "publishCmd": ["nx run affected --target=release --args=\"--version=${nextRelease.version}\"", ]
       }],
      "@semantic-release/github"
    ]
}
